<!DOCTYPE html>
<html>
<head>
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-4KIc2mnKfAA7VjirNLk2Sqp7jxFNq1q8+FhYGxhW2l52lt4HJsfksL+hjswHfbl/" crossorigin="anonymous">
    <title>Customer Index</title>
    <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            
            td, th {
                border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;
            }
            
            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Birthdate</th>
            <th>bikeId</th>
            <th>Option</th>
        </tr>

        <% dataCustomer.forEach(function(dataCust) { %>
            <tr>
                <td><%= dataCust.name %></td>
                <td><%= dataCust.age %></td>
                <td><%= dataCust.gender %></td>
                <td><%= dataCust.email %></td>
                <td><%= dataCust.birthdate %></td>
                <td><%= dataCust.bikeId %></td>
                <td>
                    <a href="/customer/edit/<%= dataCust.id %>">Edit</a>
                    ||
                    <a href="/customer/delete/<%= dataCust.id %>">Delete</a>
                </td>
            </tr>
        <% }) %>

    </table>
</body>
</html>