<!DOCTYPE html>
<html>
<head>
    <title>Pick Bike</title>
    
</head>
<body>
    <h1>Pick Bike</h1>
    <form action="bike/:id" method="post">
        <h2>Choose Terminal</h2>
        <br>
        <select name="terminal">
            <% terminals.forEach(function(el) { %>
                <option value="<%=el.id%>"><%= el.location%></option>
            <%})%>
        </select>
        <br>

        <h2>Choose Bike</h2>
        <br>
        <select name="bike">
            <% bikes.forEach(function(el) { %>
                <option value="<%= el.id %>"><%= el.id %> : <%= el.category %></option>
            <%})%>
        </select>
        <br>

        <input type="submit" name="Search">
    </form>
<script>

</script>
</body>
</html>